In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('btc520-1125.csv')

In [3]:
data

,Datetime,Open,High,Low,Close,Vol
0,2022-05-20T00:00:00.000Z,30319.22,30330.92,30297.48,30315.62,70.43660
1,2022-05-20T00:01:00.000Z,30315.62,30315.62,30266.61,30266.62,20.53930
2,2022-05-20T00:02:00.000Z,30266.61,30307.51,30252.50,30300.47,58.76359
3,2022-05-20T00:03:00.000Z,30300.46,30335.63,30287.41,30287.42,44.36455
4,2022-05-20T00:04:00.000Z,30287.41,30325.88,30281.14,30314.94,42.87177
...,...,...,...,...,...,...
274676,2022-11-26T08:47:00.000Z,16581.67,16582.00,16576.78,16578.32,57.57595
274677,2022-11-26T08:48:00.000Z,16577.87,16578.88,16574.16,16577.44,71.65903
274678,2022-11-26T08:49:00.000Z,16577.44,16579.61,16575.89,16578.00,59.85920
274679,2022-11-26T08:50:00.000Z,16578.22,16579.67,16577.38,16578.43,33.62591
274680,2022-11-26T08:51:00.000Z,16578.43,16579.99,16577.77,16579.78,11.48556

In [27]:
class Data:
    def __init__(self, df):
        self.data = df
    
    '''预处理函数-离散化'''
    def pre_dis(self, feature_name, n, sample_ratio = 0.1):
        float_list = list(self.data[feature_name].sample(frac=sample_ratio))
        float_list.sort()
        scales = [float_list[int(len(float_list)/(n+1))*i] for i in range(1,n+1)]
        return scales

In [28]:
dd = Data(data)

In [29]:
a = list(dd.data.Vol)
a.sort()
a=0

In [30]:
dd.pre_dis(feature_name='Vol',n=9,sample_ratio=0.1)

[23.81631,
 42.21301,
 60.02378,
 78.88745,
 100.65484,
 125.90632,
 159.53546,
 209.01584,
 304.51496]